// Banner
.home .banner
{

    overflow: hidden;
    border-radius: 25px;
    position: relative;

    background-color: black;

    margin-top: 50px;
    
    .text 
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        width: 100%;
        text-align: center;
        color: white;
    }

    .image
    {
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: .5;
    }
}

// Gallery
.home .gallery 
{
    width: 100%;
    margin-top: 50px;

    background-color: rgba(246, 246, 246, 1);
    border-radius: 25px;

    .cards
    {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        width: 100%;

        gap: $cards-gap;
        padding: $cards-gap 0;
    }
}

//not Mobile
@media screen and (min-width: 769px)
{
    .home .banner
    {
        height: 223px;

        .text
        {
            font-size: 48px;
        }
    } 
}

//Mobile
@media screen and (max-width: 768px)
{
    .home .banner
    {
        height: 111px;

        .text
        {
            font-size: 24px;
            max-width: 80%;
            text-align: left;
        }
    } 
}