nav.navbar 
{
    display: flex;
    justify-content: space-between;
    align-items: center;    

    img
    {
        height: 68px;
    }

    .nav-items
    {
        font-size: 24px;

        display: flex;

        .nav-item:first-child
        {
            margin-right: 50px;
        }

        .nav-item
        {
            color: black;
            text-decoration: none;
            cursor: pointer;

            &.active{
                text-decoration: underline;
            }
        }
    }
}