nav.navbar 
{
    display: flex;
    justify-content: space-between;
    align-items: center;    

    .nav-items
    {

        display: flex;

        .nav-item:first-child
        {
            margin-right: 50px;
        }

        .nav-item
        {
            color: black;
            text-decoration: none;
            cursor: pointer;

            &.active{
                text-decoration: underline;
            }
        }
    }
}

//Not mobile
@media screen and (min-width: 769px)
{
    .navbar
    {

        img
        {
            height: 68px;
        }

        .nav-items
        {
            font-size: 24px;
        }
    } 
}

//Mobile
@media screen and (max-width: 768px)
{
    .navbar
    {

        img
        {
            height: 47px;
        }

        .nav-items
        {
            font-size: 12px;
        }
    }
    
}