.rental
{

    margin-top: 75px;

    //Slide Show
    .slideshow
    {
        
        width: 100%;
        overflow: hidden;
        display: flex;
        position: relative;

        span, p
        {
            position: absolute;
            color: white;
        }

        .slide
        {
            min-width: 100%;
            max-width: 100%;
            width: 100%;

            object-fit: cover;

            border-radius: 25px;
        }

    }

    //Infos

    .infos-container
    {

        display: flex;
        justify-content: space-between;

        margin-top: 25px;


        .infos
        {

            //Alignement pour le propriétaire et les etoiles
            &:last-child
            {
                align-items: flex-end;
            }
    
            display: flex;
            flex-direction: column;
    
            .rent-info
            {
                h2.rent-title
                { 
                    color: $main-color;
                    font-weight: 500;
                    font-size: 36px;
                }
    
                h3.rent-location
                {
                    font-weight: 500;
                    font-size: 18px;
                    margin-top: 10px;
                }
            }

            //Tags
            .rent-tags
            {
                display: flex;

                margin-top: 25px;

                .tag
                {
                    
                    min-width: 95px;
                    padding: 0 10px;
                    height: 25px;
                    border-radius: 10px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-size: 14px;
                    font-weight: 700;

                    background-color: $main-color;
                    color: white;

                    
                    &:not(:first-child) 
                    {
                        margin-left: 10px;
                    }

                }
            }
    
            .host
            {
                display: flex;
                align-items: center;
    
                p.host-name
                {
                    max-width: 100px;
                    overflow-wrap: break-word;
                    text-align: right;
                    color: $main-color;
                    margin-right: 10px;
                }
    
                img.host-pic
                {
                    border-radius: 50%;
                    height: 64px;
                    width: 64px;
                    object-fit: cover;
                }
            }

            //Les étoiles
            .rating
            {

                margin-top: 25px;
                display: flex;
                
                //Une seule étoile
                i
                {

                    font-size: 24px;
                    
                    &:not(:first-child)
                    {
                        margin-left: 10px;
                    }
                }
            }
    
        }

    }

    //DropDowns
    .dropdowns
    {

        display: flex;
        justify-content: space-between;

        margin-top: 25px;


    }
    
}

//Desktop Tablets
@media screen and (min-width: 769px)
{

    .slideshow
    {
        $height: 415px;
        height: $height;

        span { font-size: 100px;}
        
        #prev
        {
            top: calc(($height / 2) - 50px);
            left: 10px;
        }

        #next
        {
            top: calc(($height / 2) - 50px);
            right: 10px;
        }
        
        #indicator
        {
            top: calc(($height) - 50px);
            right: 50%;
        }

        .slide { height: $height; }
    } 

    .infos-container
    {
        flex-direction: row;   
    }

    .dropdowns
    {
        .content
        {
            width: 48%;
        }
    }
}

//Mobile
@media screen and (max-width: 768px)
{

    .slideshow
    {
        $height: 255px;
        height: $height;

        span { font-size: 75px;}
        
        #prev
        {
            top: calc(($height / 2) - (75px/2));
            left: 10px;
        }

        #next
        {
            top: calc(($height / 2) - (75px/2));
            right: 10px;
        }

        #indicator
        {
            top: calc(($height) - 50px);
            right: 50%;
        }

        .slide { height: $height; }
    } 

    .infos-container
    {
        flex-direction: column;   

        .infos
        {
            width: 100%;

            &:last-child
            {
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;

            }

        }
    }

    .dropdowns
    {
        flex-direction: column;

        .content
        {
            width: 100%;

            &:not(:first-child)
            {
                margin-top: 25px;
            }
        }
    }
}