.dropdown-container
{

    width: 100%;

    .dropdown-head
    {

        &:hover { cursor: pointer; }
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: $main-color;
        color: white;

        height: 52px;
        border-radius: 5px;

        *:first-child { margin-left: 25px;}
        *:last-child { margin-right: 25px;}
    }

    .dropdown-body
    {
        background-color: $dropdown-body;
        border-radius: 5px;
        height: fit-content;
        padding: 25px 0;
        

        p, ul
        {
            margin-left: 25px;
            padding: 0;
        }

        ul
        {
            list-style: none;
            line-height: 25px;
        }


        &.is-open
        {
            animation: open 0.2s ease-in-out;
        }

        &.is-close{
            animation: close 0.2s ease-in-out;
            opacity: 0;
            height: 0;
            padding: 0;
        }        
    }

}

@keyframes open {
    0% {
        opacity: 0;
        height: 0px;
        padding: 0px;
    }
  
    100% {
        opacity: 1;
        height: fit-content;
        padding: 25px 0;
    }
}

@keyframes close {
    0% {
        opacity: 1;
        height: fit-content;
        padding: 25px 0;
    } 
  
    100% {
        height: 0px;
        padding: 0px;
        opacity: 0;
    }
}
  