@import "./settings.scss";

@import "./components/components.scss";
@import "./modules/modules.scss";

*
{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.App
{
    max-width: 85%;
    margin: auto;
    margin-top: 50px;
}

.is-hidden { display: none; }

.fa-star.is-active { color: $main-color; }
.fa-star.is-disable { color: $star; }